:root {
    --background-color: #b3e7ba;
    --wrapper-color: #87c971;
    --header-color: #FFBD7A;
    --footer-color: #FFBD7A;
    --line-color: #b3e7ba;
    --contact-color: #ffbd7a;
    --font-color: #000000;
    --about-color: #ffe6cc;
    --projects-color: #b3e7ba;
    --project-color: #FFE6CC;
}
